services:
  frontend:
    container_name: frontend
    build:
      context: ./front-end
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./front-end:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0
    networks:
      - task-network
    depends_on:
      - task-service

  task-service:
    container_name: task-service
    build:
      context: ./back-end/task-service
      dockerfile: Dockerfile
    volumes:
      - ./back-end/task-service:/app
      - ./back-end/task-service/db:/app/db
    ports:
      - "8000:8000"
    networks:
      - task-network

networks:
  task-network:
    driver: bridge
