services:
  frontend:
    container_name: frontend
    image: node:22
    working_dir: /app
    ports:
      - "5173:5173"
    volumes:
      - ./front-end:/app
    command: sh -c "npm install && npm run dev -- --host"